.container {
	background-color: #FFF;
	display: flex;
	min-width: 15%;
	height: 350px;
	flex-direction: column;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 10px;
}

.container > p {
	margin-top: 25px;
}

.container > h2 {
	color: #000;
	font-size: 1.35rem;
	font-weight: bold;
	margin-top: 10px;
}