.container {
	display: flex;
	margin-top: 50px;
	flex-direction: column;
	justify-content: center;
}

.section_title_container {
	display: flex;
	flex-direction: row;
}

.retangle {
	display: flex;
	background-color: #E01800;
	width: 45%;
	height: 50px;
	align-items: center;
	justify-content: center;
}

.retangle h1 {
	position: absolute;
	color: #FFF;
	font-size: 1.75rem;
	font-weight: bold;
	letter-spacing: 2rem;
	margin-left: 25px;
}

.triangle {
	width: 0px;
	height: 0px;
	border-top: 25px solid #E01800;
	border-left: 25px solid #E01800;
	border-bottom: 25px solid #E01800;
	border-right: 25px solid transparent;
}

.cards_container {
	display: flex;
	width: 96%;
	margin-top: 20px;
	align-self: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

@media only screen and (max-width: 800px){
	.retangle {
		width: 60%;
	}

	.retangle h1 {
		font-size: 1.5rem;
		letter-spacing: 0.4rem;
	}
}